@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Montserrat&family=Orbitron:wght@700&family=Playfair+Display:wght@500&family=Poppins:wght@500&family=Raleway&display=swap');
*{
  margin: 0;
  font-family:"montserrat";

}
body{
	padding: 0;
	margin: 0;
	
}
a{
	color: #fff;
}
a:hover{
	color: #FFBD59;
	text-decoration: none;
}
/* HEADER SECTION */
header{	
	background-color: #001F3F;
	color: white;
	height: 15vh; 
	
	
}
.website-header{
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
}


.logo{
	float: left;
	width: 200px;
	height:70px;	
	margin: 0 30px;
	display: flex;

}
.website-header h1{
	margin: auto 0;
}

/* NAVBAR SECTION */
nav{
	background-color: #001F3F;
	height: 50px;
	margin-bottom: 20px;
	display: flex;
	align-items: flex-end;
	
}
nav ul{
	margin: 20px 0 0 0;
	
}
.navbar-nav li{
	list-style: none;
	display: inline-block;
	padding: 10px 20px;
	float: inline-end;
	
}
.navbar-nav li a{
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
}
.nav-item{
	display: flex;
	justify-content: right;
}
.navbar-nav li a:visited{
	color: white;

}
.navbar-nav li a:hover{
	color: #fff;
  background-color:#FFBD59 ;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
}


.collapse{
	display: flex;
	align-items: flex-end;
}
.col-6{
display: flex;
justify-self:center ;

}
.form-outline{
margin: 20px 0px;
width: 200px;
height: 100px;

}

/* BREAKING NEWS SECTION */
.breaking-news-section{
	padding: 0 30px 0 60px;
	display: flex;
	background-color:rgb(32, 32, 32);

}
#btext{
	width: 200px;
	font-size: 16px;
	color:#FFBD59;
	font-weight: 600;
	margin:auto 0;
	font-family:"Michroma";
	font-size: small;
	
}
.breaking-news{
	padding: 30px;
	color: #fff;
	text-decoration: none;	
	font-weight: 800;
}
.breaking-news:hover,.social-icons i:hover{
	color:#FFBD59;
	cursor: pointer;
}
.bntime{
	display: inline-block;
	color: rgba(255,255,255,0.5);
	padding:  10px;
	font-size: 12px;

}
/* search */
.search-img{
  width: 15px;
  height: 15px;
  display: block;

}
.search-button{
  cursor: pointer;
}

input,button{
  color:inherit;
  border: none;
  background: transparent;
  outline: none;
}
.search{
  padding: 20px;
  background:#fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap:0px;
	height: 20px;
	width: 250px;
	color: rgb(32, 32, 32);
	

}
.search-input{
  width: 0px;
  color:rgb(32, 32, 32);
  font-size: 15px;
  transition: 0.3s linear;
}
.search ::placeholder{
  color: rgb(32, 32, 32);
}
.search:hover{
  gap: 20px;
	cursor: pointer;
	
}
.search:hover .search-input{
  width: 150px;
	
}
.searchpad{
	padding: 10px;
}

/* CSS OF ARTICLE */

.container{
  margin: 5% 10% ;
  
  
}
.addimg{
  height: 60vh;
  width: 100%;
  justify-content: center;
}
p{
  font-size: large;
  text-align: justify;
}
h1{
font-family: "Playfair Display";
}
a{
  color: #FFBD59;
  text-decoration: none;
  font-size: large;
}
.bold{
  font-family:"Michroma";
  font-size:xx-large;
}

/* FOOTER SECTION */
.icon{
  color: #fff;
}
footer{
	background-color: #001F3F;
	color: #fff;
	font-size: small;
}
.flogo{
	float: left;
	width: 300px;
	height:70px;	
	margin: 0 30px;
	display: flex;

}
.social-links{
	display: flex;
	flex-wrap: wrap;
	padding:30px 100px;
	justify-content: space-between;
}
.social-links section{
	flex-basis: 30%;
}
.social-icons-footer i{
	font-size: 37px;
	padding: 5px;
}

.footer-buttons{
	display: block;
	border: 1px solid #2196f3;
	color: #2196f3;
	font-size: 14px;
	font-weight: bolder;
	background-color: white;
	margin: 20px auto;
	padding: 10px 20px;
	cursor: pointer;
}
#footer-email{
  width: 250px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  padding-left: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
	background-color: #fff;

}
#footer-email::placeholder{
  color: #b1b1b1;
}
#footer-email-btn{
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background-color:#FFBD59 ;
  outline: none;
  border: none;
  font-size: 1rem;
}
#footer-email-btn:hover{
  cursor: pointer;
  background-color: #db9937;
  transition: all 0.3s ease-out;
}

.copyright{
	width: 100%;
	background-color:  rgb(32, 32, 32);
	color: #fff;
	padding: 5px;
	text-align: center;
}
@media only screen and (max-width: 600px) {
	.breaking-news-section{	
		padding: 10px;
		flex-wrap: wrap;
	}
	#featured{
		flex: auto;
	}	
	.news-section, aside, .news-section article,.social-links section{
		flex-basis: 100%;		
	}
	aside{
		border-width: 0;
	}
	.social-links section{
		margin-top: 20px;
	}
	.website-header img{
		width: 200px;
		height: 80px;
		padding: 0px;
	}
	header{
		height: 23vh;
	}
	.website-header h1{
		font-size: 15px;
	}
	.social-icons{
		flex-basis: 100%;
	}
	.navbar-collapse{
		background-color:rgb(32, 32, 32);
		z-index: 16;
		padding: 20px;
	}
	.navbar-toggler-icon{
		background-image: url(images/menu-removebg-preview.png);
		z-index: 3;
		margin-left: 200px;
		padding: 20px;
	}
	.container{
		margin: 0%;
		padding: 30px;
	}
	p{
		font-size: medium;
	}
	h1{
		font-size: x-large;
	}
	
	h5{
		font-size: medium;
	}
	.social-links{
		
		padding: 30px;
	}
	.search{
		width: 230px;
	}
	
}
